#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

body {
    background-color: powderblue;
}

.upload-button {
    cursor: pointer;
    background: #F9F871;
    color: powderblue;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    left: 140px;
    top: 150px;
}

.see-memes-button {
    cursor: pointer;
    width: 325px;
    background: #F9F871;
    color: powderblue;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    padding-left: 20px;
    padding-right: 20px;
    position:relative;
    left: 132px;
    top: 150px;
}

.no-underline {
    text-decoration: none;
}

.main-page-title {
    color: #324B4E;
    text-align: center;
    font-size: 75px;
}

.hidden {
    opacity: 0;
}

/* Comment Styling */
.center {
  margin: auto;
  width: 70%;
  background: white;
  border: 3px rgb(164, 164, 245);
  padding: 10px;
}
textarea {
  margin: auto;
  width: 70%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
#comment-block{
    /* Font */
    /* Background */
    background: whitesmoke;
    border-top: 2px solid gold;
    border:1px solid #ccc;
    /* Positioning */
    margin: auto;
    width: 60%;
    padding: 10px;
    position:  revert;
    bottom: 0;
    z-index: 1;
    /* height:100px; */
    /* float:left; */
    /* margin-right:5px; */
}